<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><div align="center"><a href="manageagent">manage agent</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="viewpickuprequest">view pickup request</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="viewpickupstatus">check pickup report</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="feedback">view feedback</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="viewcomplaintsendreply">view complaint & send reply</a></div></td>
    </tr>
    <tr>
{#      <td><div align="center"><a href="assignwork">assign work to agent</a></div></td>#}
    </tr>
    <tr>
      <td><div align="center"><a href="managerecycleproduct">manage recycled product</a></div></td>
    </tr>manageagent
    
    <tr>
      <td><div align="center"><a href="verifyorder">verify order & view payment</a></div></td>
    </tr>
      <tr>
      <td><div align="center"><a href="publicwaste">view public waste</a></div></td>
    </tr>
    <tr>

      <td><div align="center">
        <input type="submit" name="Submit" value="Logout" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
