{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'company_index.html'%}
{% block body %}

<form id="form1" name="form1" method="post" action="/search_verifyorder">
  <table width="200" border="1" class="table table-hover">
    <tr>
      <td>Date</td>
      <td><input type="date" name="textfield" value="{{ d }}" /></td>
      <td colspan="3"><input type="submit" name="Submit" value="Go" /></td>
    </tr>
    <tr>
      <td>Sl.no</td>
      <td>User</td>
      <td>Amount</td>
      <td>Date</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.USER.name }}</td>
      <td>{{i.amount}}</td>
      <td>{{i.date}}</td>


      <td>
      <p><a href="/viewitems#about">Viewitems</a></p>
             {%  if i.status == 'pending' %}
          <p><a href="accept/{{ i.id }}">Accept</a></p>
      <p><a href="reject/{{ i.id }}">Reject</a></p></td>
     {% elif i.status ==  'reject'%}<td>Rejected</td>
     {%  else %}
        <td>Accepted</td>
    {% endif %}
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
