{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'company_index.html'%}
{% block body %}

<form id="form1" name="form1" method="post" action="/search_viewpickuprequest">
  <table width="200" border="1" class="table table-hover">
    <tr>
      <td>Date</td>
      <td><input type="date" name="textfield" value="{{ d }}"/></td>
      <td><input type="submit" name="Submit" value="Go" /></td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>sl.no</td>
      <td>user</td>
      <td>Request</td>
      <td>date</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.USER.name }}</td>
      <td>{{ i.request }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td><a href="assignwork/{{i.id }}#about">Assign</a>
        <p>
          <a href="https://www.google.com/maps?q={{ i.latitude}},q={{i.longitude  }}">Track</a>
        </p>      </td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
